
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text"
                           name="giphy-search"
                           class="form-control"
                           placeholder="type your search here"
                           [(ngModel)]='keyword'
                    />
                </div>
                <div class="col-md-2">
                    <button type="submit" [disabled]='!keyword' class="btn btn-default pull-right" (click)="search($event)">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
